<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>

    <div class="quotes content">
        <h2>All quotes</h2>

        <% if(quotes.length > 0) { %>
            <% quotes.forEach(quote => { %>
                <div class="quoteBlock">
                    <h4 class="text"> "<%= quote.text %>" </h4>
                    <p class="name"> -<%= quote.name %> </p>
                    <p class="dateAdded"> <%= quote.added %> </p>
                </div>
            <% }); %>
        <% } else { %>
            <p>No quotes to display...</p>
        <% }; %>
    </div>

    <%- include('./partials/footer.ejs') %>
</body>
</html>