<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>

    <main>
        <div class="content">
            <h2>All quotes</h2>

            <% if(quotes.length > 0) { %>
                <% quotes.forEach(quote => { %>
                    <a href="/quotes/<%= quote.id %>" class="quoteBlock">
                    <h4 class="text"> "<%= quote.text %>" </h4>
                    <p class="name"> - <%= quote.name %> </p>
                    </a>
                <% }); %>
            <% } else { %>
                <p>No quotes to display...</p>
            <% }; %>
        </div>    
    </main>

    <%- include('./partials/footer.ejs') %>
</body>
</html>